.home {
  min-height: 90vh;
}
.cards {
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-content {
  color: white;
  background-color: #6c757d;
}

#accInput {
  width: 100%;
  /* margin: 0px 20px; */
  display: block;
  color: white;
  background-color: rgb(50, 51, 59);
}

.cardDeleteBtn {
  background-color: cadetblue;
  color: greenyellow;
}

.listinput {
  border: none;
  max-width: 250px;
  padding: 5px;
}

.accountAdd {
  display: flex;
  justify-content: center;
}

.modal-backdrop {
  background-color: beige;
}

.modal-body {
  /* overflow-x: scroll; */
}

@media only screen and (max-width: 600px) {
  .listinput {
    padding: 3px;
    width: 100px;
  }
  #accInput {
    outline: none;
    margin: auto;
    margin-top: 10px;
    width: 250px;
  }

  .modal {
    max-width: 93%;
    margin: 10px;
  }
  .modal-body {
    margin-top: 30px;
    text-align: center;
    padding: 0px;
    /* margin: 0px; */
    overflow-x: scroll;
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    ::-webkit-scrollbar:vertical {
      width: 12px;
    }

    ::-webkit-scrollbar:horizontal {
      height: 12px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      border: 2px solid #ffffff;
    }

    ::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #ffffff;
    }
  }
}
