

.form-signin{
    padding: 20px;
    background-color: rgb(52, 52, 75);
     width: 500px;
}


.signin{
     color: antiquewhite;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     overflow-y: hidden; 
     height: 93vh;
     background-color: rgb(32, 32, 51);
}


@media only screen and (max-width: 600px) {
     .form-signin
     { 
          width : 270px; 
     }
     .alert{
          font-size: 13px;
     }
     }


/* @media only screen and (min-width: 600px) {...} */

