.form-signin {
  padding: 40px;
  background-color: azure;
  width: 500px;
  border-radius: 9px;
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: 90vh;
}

@media only screen and (max-width: 600px) {
  .form-signin {
    width: 270px;
  }
  .alert {
    font-size: 13px;
  }
}

/* @media only screen and (min-width: 600px) {...} */
