.form-signup {
  padding: 40px;
  background-color: azure;
  width: 500px;
  border-radius: 9px;
}

/* img{
     opacity: 0.5;
} */

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: 90vh;
}

@media only screen and (max-width: 600px) {
  .form-signup {
    width: 270px;
  }
}
